.zombie {
    height: 50vh;
}

.hide {
    display: none;
}

.border-radius {
    border-radius: .5rem;
}

.modal-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}