.entity {
    height: 50vh;
}

.hide {
    display: none;
}

.border-radius {
    border-radius: .5rem;
}

.modal-wrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}

.damaged-left {
    animation-name: damaged-left;
    animation-duration: 1s;
}

.damaged-right {
    animation-name: damaged-right;
    animation-duration: 1s;
}

@keyframes damaged-left {
    30% {
        transform: rotate(-30deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

@keyframes damaged-right {
    30% {
        transform: rotate(30deg);
    }
    100% {
        transform: rotate(0deg);
    }
}